@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/dist/css/bootstrap-theme.min.css";
@import "~angular-ui-notification/dist/angular-ui-notification.min.css";
$fa-font-path: "fonts" !default;
@import "~font-awesome/scss/font-awesome";

$mainBackground: #e3e0cf;
$mainHeader: #c5d5cb;
$mainFooter: #9fa8a3;

body {
  background-color: $mainBackground;
}

header {
  background-color: $mainHeader;
}

footer {
  background-color: $mainFooter;
  margin-top: 2em;
}

table {
  thead {
    background-color: $mainHeader;
  }
  tfoot {
    background-color: $mainHeader;
  }
}

.btn-default {
  background-image: none;
  text-shadow: none;
}

.link-button {
  cursor: pointer;
}

.stock-details {
  .title {
    font-weight: bold;
  }
}

.stock-graph {
  .graph-container {
    height: 300px;

    svg {
      height: 100%;
      width: 100%;
    }

    .tooltip {
      background-color: $mainFooter;

      .legend-color-guide {
        div {
          height: 10px;
          width: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}